body {
  background: #e8f5e9;
  display: flex; /*لترتيب العناصر*/
  justify-content: center; /* توسيط المحتوى أفقياً */
  align-items: center; /* توسيط المحتوى عامودياً */
  height: 90vh; /*ارتفاع الكرت حسب شاشه الجهاز*/
}

.card {
  background: #ffffff;
  padding: 25px;
  width: 350px; /*عرض الكرت*/
  border-radius: 15px;
  border: 2px solid #2e8b57;
  box-shadow: 20px 10px 15px rgba(0, 0, 0, 0.326);
  line-height: 1.6; /*المسافة بين السطور*/
}

h1 {
  background: #2e8b57;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
}

.information {
  text-align: right;
  font-size: 20px;
}

.first-aid {
  border: 2px solid #d40101cf;
  color: black;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
}

.first-aid:hover {
  background-color: red; /* يظهر لون عند مرور الماوس */
}

hr {
  width: 85%;
  height: 0.5px;
  background-color: black;
  border: none;
  margin: 15px; /* المسافة فوق وتحت */
}

